ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
}
ul li {
  float: left;
  margin-top: 15px;
}
ul li a {
  color: black;
  width: 130px;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-right: 2px;
  border: solid 0.02px rgb(156, 153, 153);
  background: rgb(165, 163, 163);
}
a:hover {
  color: black;
  background: rgb(241, 235, 235);
}

ul li ul li {
  float: none;
  margin: 0;
}
ul li ul {
  display: none;
}
ul li:hover > ul {
  display: block;
}

ul li ul li ul {
  position: absolute;
  margin-top: -39px;
  left: 150.5px;
  display: none;
}

ul li ul li:hover ul {
  display: block;
}
