body {
  box-sizing: border-box;
  margin: 5px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
}
ul li {
  float: left;
  margin-top: 15px;
}
ul li a {
  box-sizing: border-box;
  color: black;
  width: 112px;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin-right: 2px;
  border: solid 0.02px rgb(156, 153, 153);
  background: rgb(165, 163, 163);
  border-radius: 5px;
}
a:hover {
  color: black;
  background: rgb(241, 235, 235);
}
ul li ul li {
  float: none;
  box-sizing: border-box;
  margin: 0;
}
ul li ul {
  display: none;
}
ul li:hover > ul {
  display: block;
}
ul li ul li ul {
  margin-top: -39px;
  left: 132.5px;
  display: none;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.text1 {
  color: brown;
  margin-top: 60px;
}
.text2 h1 {
  color: #fff;
  background-color: blueviolet;
  position: sticky;
  top: 60px;
}
